name: dataset-diff
on: [push]
jobs:
    run:
        runs-on: ubuntu-latest
        # optionally use a convenient Ubuntu LTS + DVC + CML image
        # container: docker://ghcr.io/iterative/cml:0-dvc2-base1
        steps:
            - uses: actions/checkout@v2
            # may need to setup NodeJS & Python3 on e.g. self-hosted
            # - uses: actions/setup-node@v2
            #   with:
            #     node-version: '16'
            # - uses: actions/setup-python@v2
            #   with:
            #     python-version: '3.x'
            - uses: iterative/setup-cml@v1

            - name: Set up Cloud SDK
              uses: google-github-actions/setup-gcloud@master
              with:
                  service_account_email: ${{ secrets.GCP_EMAIL }}
                  service_account_key: ${{secrets.GOOGLE_APPLICATION_CREDENTIALS}}
                  export_default_credentials: true

            - name: Use gcloud CLI
              run: gcloud info

            - name: Dataset Diff
              run: |
                  pip3 install -r requirements.txt
                  dvc pull
                  python dataset_describer.py output_current.json

            - name: Checkout previous commit
              run: |
                  git fetch
                  git checkout master
                  dvc pull
                  python dataset_describer.py output_previous.json

            - name: Write CML report
              env:
                  REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  dvc metrics show output_current.json --show-md >> report.md
                  dvc metrics show output_previous.json --show-md >> report.md
                  cml-send-comment report.md
